<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>change password</title>
    <style>
         form {
			margin: 0 auto;
			width: 375px;
			background-color: rgba(164, 218, 218, 0.3);
		}
        .container {
			padding: 16px;
		}
    </style>
</head>
<body>
    <br><br><br><br><br>
    <h1 style="text-align:center;color:rgba(53, 86, 146, 0.767);font-size: 50px;">change password</h1>
    <h3 style="text-align:center;">{{ request.session.user_name }}</h3>
    <br><br>
    <div class="form-group">
        <form action="/password/" method="POST">
            <div class="container">    
                {% csrf_token %}

                <div class="form-group">
                    {{ change_form.oldpassword.label_tag }}
                    {{ change_form.oldpassword}}
                </div>
                <div class="form-group">
                    {{ change_form.newpassword.label_tag }}
                    {{ change_form.newpassword }}
                </div>
                
            <input style="float: right;background-color: #04AA6D;color: white;
            padding: 10px 20px;margin: 8px 0;border: none;cursor: pointer;width: 100%;"  type="submit" value="change password">
            <a href="/login/"  ><ins>cancel</ins></a>
            <br><br>
            </div>
        </form>
    
    </div>
</body>
</html>
