{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        form {
			margin: 0 auto;
			width: 375px;
			background-color: rgba(164, 218, 218, 0.3);
		}
        .container {
			padding: 16px;
		}
    </style>
    <title>register</title>
  </head>
  <body background="https://media.giphy.com/media/3oEjHYlwvUK5p9AIbm/giphy.gif">
    <br><br><br><br><br>
	<h1 style="text-align:center;color:rgba(53, 86, 146, 0.767);font-size: 50px;">
		CUHK Big Battle
	</h1>
    <div class="container">
            <div class="col">
                <form class="form-register" action="/register/" method="post" style="border:1px solid #ccc;">

                    {% if register_form.captcha.errors %}
                        <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
                    {% elif message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}

                {% csrf_token %}

                  <div class="form-group">
                      {{ register_form.username.label_tag }}
                      {{ register_form.username}}
                  </div>
                  <div class="form-group">
                      {{ register_form.password1.label_tag }}
                      {{ register_form.password1 }}
                  </div>
                  <div class="form-group">
                      {{ register_form.password2.label_tag }}
                      {{ register_form.password2 }}
                  </div>
                  <div class="form-group">
                      {{ register_form.email.label_tag }}
                      {{ register_form.email }}
                  </div>
                  
                  <div>
                      <button type="submit" style="float: right;background-color: #04AA6D;color: white;
                      padding: 10px 20px;margin: 8px 0;border: none;cursor: pointer;width: 100%;">register</button>
                      <a href="/login/"  ><ins>already have account?</ins></a>
                  </div>
                </form>
            </div>
    </div> <!-- /container -->
  </body>
</html>